Repository SindreUlsaker/Eliteserien_fantasy: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix, eslint --fix

feat(db): etabler kjerne-databaseskjema og scripts
  apps/api/package.json
  apps/api/src/scripts/seedBrackets.ts
  apps/api/src/scripts/syncGameweeks.ts
  apps/api/src/scripts/syncPlayers.ts
  apps/api/src/scripts/syncTeams.ts
  pnpm-lock.yaml
  prisma/schema.prisma
Due: node scripts/lint-api.js, prettier --write

feat(scripts): legg til script for beregning av effective ownership per runde
  apps/api/package.json
  apps/api/src/scripts/computeEO.ts
Due: node scripts/lint-api.js, prettier --write

feat(entry): legg til entry-index med søk i API og enkel identifisering i web
  .github/workflows/ci.yml
  .lintstagedrc.json
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/entries.ts
  apps/api/src/scripts/syncEntries.ts
  apps/web/app/page.tsx
  pnpm-lock.yaml
  prisma/schema.prisma
  scripts/lint-web.js
Due: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix, eslint --fix

Refaktorer brukerstate og legg til overall-rank historikk med graf
  apps/api/src/index.ts
  apps/api/src/routes/entryHistory.ts
  apps/web/app/layout.tsx
  apps/web/app/overall-rank-card.tsx
  apps/web/app/page.tsx
  apps/web/app/user-context.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix

Kjapp fiks av build- og typecheck feil.
  apps/api/src/scripts/syncPlayerGameweekStats.ts
  apps/web/app/hooks/useEntryInsights.ts
  apps/web/app/overall-rank-card.tsx
Due: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix

Stor refaktorering av hvordan vi sammenligner med brackets
  apps/api/package.json
  apps/api/src/routes/entryInsights.ts
  apps/api/src/scripts/clearEntrySeasonTotals.ts
  apps/api/src/scripts/computeBracketGameweekStats.ts
  apps/api/src/scripts/computeBracketStatsSnapshot.ts
  apps/api/src/scripts/computeEntryInsights.ts
  apps/api/src/scripts/computeEntrySeasonTotals.ts
  apps/api/src/scripts/computeRoundStats.ts
  apps/api/src/scripts/computeTemplateEO.ts
  apps/api/src/scripts/seedBrackets.ts
  apps/api/src/services/computeEntryInsights.ts
  apps/web/app/compare/page.tsx
  apps/web/app/hooks/useEntryInsights.ts
  old/computeEO_old.ts
  prisma/schema.prisma
Due: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix

Legg til logikk for automatisk kjøring av script.
  .github/workflows/jobs-execute.yml
  .github/workflows/jobs-plan.yml
  apps/api/package.json
  apps/api/src/routes/entryInsights.ts
  apps/api/src/scripts/computeEntrySeasonTotals.ts
  apps/api/src/scripts/executeScheduledJobs.ts
  apps/api/src/scripts/planScheduledJobs.ts
  apps/api/src/scripts/purgeAllData.ts
  apps/api/src/scripts/reinitializeSeasonData.ts
  apps/api/src/scripts/syncEntryInsights.ts
  apps/api/src/services/computeEntryInsights.ts
  apps/web/app/compare/page.tsx
  apps/web/app/hooks/useEntryInsights.ts
  prisma/schema.prisma
Due: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix

Sett opp Supabase-tilkobling og oppdaterte GitHub Actions for plan/execute-jobbe
  .github/workflows/jobs-execute.yml
  .github/workflows/jobs-plan.yml
  apps/api/package.json
  apps/api/src/scripts/computeEntryInsights.ts
  apps/api/src/scripts/executeScheduledJobs.ts
  prisma/schema.prisma
Due: node scripts/lint-api.js, prettier --write

Fiks CI-migrering: legg til DIRECT_URL og bruk migrate deploy i build-jobb
  .github/workflows/ci.yml
Due: prettier --write

Oppdater tidspunkt for script kjøring
  .github/workflows/jobs-execute.yml
  apps/api/src/scripts/planScheduledJobs.ts
Due: node scripts/lint-api.js, prettier --write

Legg til logikk for "parker bussen" chip og liten fiks i github action kjøringen.
  .github/workflows/jobs-execute.yml
  apps/api/src/scripts/computeBracketStatsSnapshot.ts
  apps/api/src/scripts/computeEntrySeasonTotals.ts
  apps/api/src/scripts/computeTemplateEO.ts
  apps/api/src/scripts/executeScheduledJobs.ts
  apps/api/src/services/computeEntryInsights.ts
  apps/api/tsconfig.json
  apps/web/app/compare/compare-page.tsx
  apps/web/app/hooks/useEntryInsights.ts
Due: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix

Legg til ekstra sjekk for brukere som lagde lag etter gameweek 1 og nye spillere
  apps/api/src/scripts/computeEntrySeasonTotals.ts
  apps/api/src/scripts/executeScheduledJobs.ts
Due: node scripts/lint-api.js, prettier --write

Endret noe små feil i github action scriptene.
  .github/workflows/ci.yml
  .github/workflows/jobs-execute.yml
  .github/workflows/jobs-plan.yml
  apps/api/src/scripts/computeBracketStatsSnapshot.ts
  apps/api/tsconfig.json
Due: node scripts/lint-api.js, prettier --write

Fiks pnpm-versjonskonflikten i GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/jobs-execute.yml
  .github/workflows/jobs-plan.yml
Due: prettier --write

La til
  apps/api/src/routes/entryInsights.ts
  apps/api/src/services/computeEntryInsights.ts
  apps/web/app/compare/compare-page.tsx
  apps/web/app/compare/page.tsx
  apps/web/app/globals.css
  apps/web/app/hooks/useEntryInsights.ts
  apps/web/app/overall-rank-card.tsx
  apps/web/app/page.tsx
  apps/web/app/top-nav.tsx
Due: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix

Fiks hit-telling og omskriv spillestil-logikk
  apps/api/src/scripts/computeBracketStatsSnapshot.ts
  apps/api/src/scripts/computeEntrySeasonTotals.ts
  apps/api/src/services/computeEntryInsights.ts
  apps/web/app/compare/page.tsx
Due: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix

Legg til rate limiting og fleksibel CORS-config
  .env.example
  apps/api/package.json
  apps/api/src/index.ts
  pnpm-lock.yaml
Due: node scripts/lint-api.js, prettier --write

Prefetch insights ved innlogging for raskere loading av compare-siden
  apps/web/app/page.tsx
Due: prettier --write, eslint --config apps/web/.eslintrc.json --fix

Klargjør for prod-deploy:
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/fly-deploy.yml
  .github/workflows/jobs-execute.yml
  .github/workflows/jobs-plan.yml
  .gitignore
  Dockerfile
  apps/api/src/services/computeEntryInsights.test.ts
  apps/api/src/services/computeEntryInsights.ts
  fly.toml
Due: node scripts/lint-api.js, prettier --write

Legg til github action for daglig sjekk av status på applikasjonen, endring i readme + andre små fikser.
  .github/workflows/uptime-check.yml
  README.md
  apps/api/src/routes/entryInsights.ts
  apps/web/app/page.tsx
Due: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix

Fiks rundenummer i UI når Eliteserien har flyttet runder
  apps/api/src/index.ts
  apps/api/src/routes/entryHistory.ts
  apps/api/src/routes/entryTeam.ts
  apps/api/src/services/computeEntryInsights.ts
  apps/web/app/compare/page.tsx
  apps/web/app/hooks/useEntryInsights.ts
  apps/web/app/hooks/useEntryTeam.ts
  apps/web/app/overall-rank-card.tsx
  apps/web/app/page.tsx
Due: node scripts/lint-api.js, prettier --write, eslint --config apps/web/.eslintrc.json --fix

Legg til unit-tester for planScheduledJobs og computeEntrySeasonTotals
  apps/api/src/scripts/computeEntrySeasonTotals.test.ts
  apps/api/src/scripts/computeEntrySeasonTotals.ts
  apps/api/src/scripts/planScheduledJobs.test.ts
  apps/api/src/scripts/planScheduledJobs.ts
Due: node scripts/lint-api.js, prettier --write

Path conditions:
  node scripts/lint-api.js: any of: apps/api/**/*.{ts,tsx}
  prettier --write: (((((any of: apps/api/**/*.{ts,tsx}) or (any of: apps/web/**/*.{ts,tsx})) or (any of: packages/**/*.{ts,tsx})) or (any of: scripts/**/*.{ts,tsx})) or (any of: *.{js,jsx})) or (any of: *.{json,yml,yaml,md})
  eslint --config apps/web/.eslintrc.json --fix: any of: apps/web/**/*.{ts,tsx}
  eslint --fix: ((any of: packages/**/*.{ts,tsx}) or (any of: scripts/**/*.{ts,tsx})) or (any of: *.{js,jsx})
